
body.page-admin #content {
  margin-top: 1em;
}

body.page-admin #content table {
  margin: 1em 0;
}

/** Formatting for administration page */
div.admin-panel {
  background: transparent url(images/bg-block-admin-seperator.png) repeat-x top left;
  width: 100%;
  margin: 0;
  padding: 0.5em 0 1em 0;
  overflow: hidden;
}

div.admin-panel:hover {
  overflow: hidden;
  background: transparent url(images/bg-33.png);
}

div.admin-panel:hover,
div.admin-panel:hover .description {
  color: #000;
}

div.admin-panel-inner {
  overflow: hidden;
}

div.admin-panel .description {
  width: 70%;
  float: left;
  margin: 0.75em 0 0.5em 1em;
  font-size: 100%;
}

div.admin-panel h3 {
  float: left;
  width: 16%;
  margin: 0.5em 0 0 1em;
}

div.admin-panel .body {
  padding: 0; /* LTR */
  display: none;
  padding: 0.5em 0 0 18%;
}

div.admin-panel:hover .body {
  padding: 0; /* LTR */
  display: block;
  padding: 0.5em 0 0 18%;
}

div.admin-panel .block,
div.admin-panel .node { /*fix for added "node" class here */
  background-image: none;
  margin:0;
  overflow:hidden;
  margin: 0;
  padding: 0;
}

div.admin-panel ul.menu {
  float: left;
  padding: 0 0 0 1em;
}

div.admin-panel ul.item-list {
  float: left;
  padding: 0 0 0 1em;
}

div.admin {
  padding-top: 0;
}

div.admin .left {
  float: left;
  width: 100%;
  margin-left: 0;
}
div.admin .right {
  float: left;
  width: 100%;
  margin-right: 0em;
}

div.admin .expert-link {
  text-align: right; /* LTR */
  margin-right: 1em; /* LTR */
  padding-right: 0.25em; /* LTR */
}

dl.admin-list {
  margin: 1em 0 0 14.25%;
  display: block;
  clear: both;
}

dl.admin-list dt {
  width: 31%;
  float: left;
  margin-left: 2%;
  max-width: 10em;
}

dl.admin-list dd {
  display: none;
}

table.package {
  width: 100%;
}
table.package .description {
  width: 100%;
}

table.package .version {
  direction: ltr;
}
div.admin-dependencies, div.admin-required {
  font-size: 0.9em;
  color: #444;
}
span.admin-disabled {
  color: #800;
}
span.admin-enabled {
  color: #080;
}
span.admin-missing {
  color: #f00;
}

/** Formatting for status report */
table.system-status-report th {
}

table.system-status-report th, table.system-status-report tr.merge-up td {
  padding-left: 2em; /* LTR */
}

table.system-status-report tr {
  background: transparent url(images/bg-block-admin-seperator.png) repeat-x bottom left;
}

table.system-status-report th {
  background-repeat: no-repeat;
  background-position: 0.25em 50%; /* LTR */
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

table.system-status-report tr.error th {
  background-image: url(images/messages-error.png) no-repeat top left;
}

table.system-status-report tr.warning th {
  background-image: url(images/messages-warning.png) no-repeat top left;
}

/** Formatting for theme configuration */
.theme-settings-left {
  float: left;
  width: 49%;
}

.theme-settings-right {
  float: right;
  width: 49%;
}

.theme-settings-bottom {
  clear: both;
}

/** Formatting for theme overview */
table.screenshot {
  margin-right: 1em; /* LTR */
}

.theme-info h2 {
  margin-bottom: 0;
}

.theme-info p {
  margin-top: 0;
}

/** Date and time settings page */
.date-container {
  overflow: auto;
  clear: left; /* LTR */
}

.date-container .form-item {
  margin-top: 0;
}

.date-container .select-container, .date-container .custom-container {
  float: left; /* LTR */
}

.date-container .custom-container {
  margin-left: 1em; /* LTR */
  width: 50%;
}

html.js .custom-container label {
  visibility: hidden;
}

/** Permissions table **/
#permissions td.module {
  background:transparent url(images/bg-black-03.png);
  font-weight:bold;
}