
/*
 * Rollover edit links for blocks.
 * Replaces the default text links with icons
 */

div.block.with-block-editing {
	position: relative;
}

div.block.with-block-editing div.edit {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 40;
	padding: 0px;
	font-size: 9px;
	background: transparent url(images/bg-button.png);
}

div.block.with-block-editing:hover div.edit {
	display: block;
}

/*
 * BLOCK EDITING *
 */
div.block div.edit {
  background: transparent url(images/bg-button.png) repeat-x bottom left;
  border: 0px;
  margin: 1em 0 0 0;
  padding: 0;
}

div.block div.edit a {
  display: block;
  float: left;
  width: 16px;
  height: 12px;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  margin: 0;
  padding: 0px 2px;
}

div.block div.edit a span {
  display: none;
}

a.block-config {
  background: transparent url(images/block-edit-icons.png) no-repeat top left;
  background-position: 2px 0px;
}

a.block-edit-menu {
  background: transparent url(images/block-edit-icons.png) no-repeat top left;
  background-position: 2px -12px;
}

div.block div.edit {
  display:none;
  font-size:9px;
  padding:0;
  position:absolute;
  right:0;
  top:0;
  z-index:40;
}