

body {
  font-size: 75%;
}

#page {
  font-size: 1em;
  line-height: 1.5em;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset {
  font-family: "Lucida Grande", "Calibri", "Trebuchet",  sans-serif;
}

pre, code {
  font-size: 1.1em; /* Monospace fonts can be hard to read */
  font-family: "Monaco", "Courier New", "Bitstream Vera Sans Mono", monospace;
}

/** Headings **/
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 2em;
  line-height: 1.3em;
  margin-bottom: 0em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 0.667em;
  margin-bottom: 0.667em;
}

h3 {
  font-size: 1.3em;
  line-height: 1.3em;
  margin-top: 0.769em;
  margin-bottom: 0.769em;
}

h4, h5, h6 {
  font-size: 1.1em;
  line-height: 1.3em;
  margin-top: 0.909em;
  margin-bottom: 0.909em;
}

/** Block-level elements **/
p, ul, ol, dl, pre, table, fieldset, blockquote {
  margin: 0 0 1em 0;
}

/** Lists **/
/* standardize list item indentation */
ul, ol {
  margin-left: 0;
  padding-left: 1em;
}

.block ul,
.item-list ul {
  margin: 1em 0;
  padding: 0 0 0 1em;
}

ul ul, ul ol,
ol ol, ol ul,
.block ul ul, .block ul ol,
.block ol ol, .block ol ul,
.item-list ul ul, .item-list ul ol,
.item-list ol ol, .item-list ol ul {
  margin: 0 0 0 1em;
}

li {
  margin: 0;
  padding: 0;
}

.item-list ul li /* Drupal override */ {
  margin: 0;
  padding: 0;
  list-style: inherit;
}

ul.menu li, /* Drupal override */
li.expanded,
li.collapsed,
li.leaf {
  margin: 0;
  padding: 0.125em;
}

ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

dt {
  margin: 0;
  padding: 0;
}

dd {
  margin: 0 0 0 1em;
  padding: 0;
}

/** links **/
a:link {
  color: #23BBD2;
  text-decoration: none;
}

a:visited {
  color: #23BBD2;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

/** Tables **/
/* Override Drupal default CSS */
table {
  border-collapse: collapse;
  background: transparent url(images/bg-13.png) repeat top left;
}

th,
thead th,
tbody th {
  padding-right: 1em;
  border-bottom: none;
}

tbody {
  border-top: none;
}

/** Abbrevations **/
abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

/* Date-based "abbreviations" show computer-friendly timestamps which are not
   human-friendly. */
abbr.created {
  border: none;
  cursor: auto;
  white-space: normal;
}

/** Images **/
img {
  border: 0;
}

/** Horizontal rules **/
hr {
  height: 1px;
  border: 1px solid #666;
}

/** Froms **/
form {
  margin: 0;
  padding: 0;
}

fieldset {
  width: 95%;
  display: block;
  border: #c00 0px solid;
  margin: 0.5em 0;
  padding: 0.25em;
}