
/*
 * Layout styles
 *
 * Uses body classes to define a fixed width front end and a liquid width for admin pages 
 *
 */

/** body **/
body {
  margin: 0;
  padding: 0;
}

#page-inner {
  width: 960px;
  margin: 0 auto;
}

body.section-node-add #page-inner,
body.section-node-delete #page-inner,
body.section-node-edit #page-inner,
body.section-admin #page-inner {
  width: 98%;
  margin: 0 auto;
}

#navigation-top,
#navigation {
  position: absolute; /* Take the named anchors out of the doc flow    */
  left: -10000px;     /* and prevent any anchor styles from appearing. */
}

#skip-to-nav {
  float: right;
  margin: 0 !important;
  font-size: 0.8em;
  display: none;
}

#skip-to-nav a:link, #skip-to-nav a:visited {
  color: #fff; /* Same as background color of page */
}

#skip-to-nav a:hover {
  color: #000;
  text-decoration: none;
}

/** Header **/
#logo {
  margin: 0 0.5em 0 0;
  padding: 0;
}

h1#site-name, div#site-name {
  margin: 0;
  font-size: 125%;
}

#header-blocks {
  clear: both; /* Clear the logo */
  float: right;
}

#header-blocks h2.title {
  display: none;
}

/** main (container for everything else) **/
#main {
  position: relative;
}

/** content **/
#content {
  float: left;
  width: 100%;
  margin-left: 0;
  margin-right: -100%; /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content-inner. */
}

.two-sidebars #content-inner {
  padding-left: 16%; /* The width + left margin of #sidebar-left. */
  padding-right: 20%; /* The width + right margin of #sidebar-right. */
}

.sidebar-left #content-inner {
  padding-left: 16%; /* The width + left margin of #sidebar-left. */
  padding-right: 0;
}

.sidebar-right #content-inner {
  padding-left: 0;
  padding-right: 20%; /* The width + right margin of #sidebar-right. */
}

#content-inner {
  margin: 1em 0 1em 0;
  padding: 0;
}

/** Navbar **/
#navbar {
  float: left;
  width: 100%;
  margin-left: 0;
  margin-right: -100%; /* Negative value of #navbar's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #navbar-inner. */
  height: 2em; /* Set this to the same value as the margin-top below. */
}

.with-navbar #content,
.with-navbar #sidebar-left,
.with-navbar #sidebar-right {
  margin-top: 2em; /* Set this to the same value as the navbar height above. */
}

#search-box {
  width: 20%;
  margin-right: -20%; /* Negative value of #search-box's width. */
  float: left;
}

#primary {
  margin-top: 0em;
}

#navbar ul /* Primary and secondary links */ {
  margin: 0;
  padding: 0;
  text-align: left;
}

#navbar li {
  float: left;
  padding: 0 0.5em 0 0;
}

/** Sidebar-left **/
#sidebar-left {
  float: left;
  width: 16%;
  margin-left: 0;
  margin-right: -16%; /* Negative value of #sidebar-left's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-left-inner. */
}

#sidebar-left-inner {
  margin-top: 2em;
  padding: 0;
}

/** Sidebar-right **/
#sidebar-right {
  float: right;
  width: 20%;
  margin-left: -20%; /* Negative value of #sidebar-right's width + right margin. */
  margin-right: 0;
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-right-inner. */
}

#sidebar-right-inner {
  margin: 0 0 0 1em;
  padding: 2em 0 0 1em;
}

/** Closure **/
#closure-blocks {
}

/** Prevent overflowing content **/
#header,
#content,
#navbar,
#sidebar-left,
#sidebar-right,
#footer,
#closure-blocks {
  overflow: visible;
}

#navbar {
  overflow: hidden; /* May need to be removed if using a dynamic drop-down menu */
}