
/*
* MESSAGES STYLE
*
* With custom icons
*/

div.messages, /* Important messages (status, warning, and error) for the user */
div.status,
div.warning,
div.error {
	border: none;
	border-left: 0px solid #ff7;
	border-top: 0px solid #ff7;
	padding: 0.25em 1em 0.25em 3em;
	color: #000;
	background-color: #ffc;
	background-image: url(images/messages-status.png);
	background-repeat: no-repeat;
	background-position: 10px 3px;
	margin: 0em;
}

div.status /* Normal priority messages */ {
	background-color: #fff;
}

div.warning /* Medium priority messages */ {
	background-image: url(images/messages-warning.png);
}

div.warning,
tr.warning,
body.section-admin tr.warning {
	color: #000; /* Drupal core uses #220 */
}

div.error /* High priority messages. See also the .error declaration below. */ {
	/* border: 1px solid #d77; */ /* Drupal core uses: 1px solid #d77 */
	border-color: #c30;
	background-image: url(images/messages-error.png);
}

div.error,
tr.error,
body.section-admin tr.error {
	color: #000; /* Drupal core uses #200 */
}

div.messages ul {
	margin-top: 0;
	margin-bottom: 0;
}