
/**
* @file
* Strix is a Zen sub theme, especially built for the Drupal admin pages.
* 
*/

/* body, page */
body {
  color: #444;
  /*background: #DFE2D7;*/
  background: #eee url(images/bg-floral.png);
  background-attachment: fixed;
}

body.section-node-add,
body.section-node-delete,
body.section-node-edit,
body.section-admin {
  background: #ddd;
  background-image: none;
}

body.section-node-add #page,
body.section-node-delete #page,
body.section-node-edit #page,
body.section-admin #page {
  background-image: none;
}

body #page-inner {
  padding: 0 0.5em;
}

body.section-admin #page-inner {
  background-image: none;
}

/** Header **/
#logo-title /* Wrapper for logo, website name, and slogan */ {
  font-weight: normal;
  float: left;
  padding: 1em 0 0 0;
}

#logo {
  float: left;
  margin: 0 1em;
}

#site-name {
  font-weight: normal;
  font-size: 1em;
  float: left;
  padding: 0 3em 0 0;
}

#site-name a:link,
#site-name a:visited {
  color: #fff;
  color: #000;
  text-decoration: none;
}

#site-name a:hover {
  text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website */ {
  padding: 1em 3em 0 0;
  float: left;
}

#header-blocks a {
  color: #000;
  font-weight: normal;
}

/** Main **/
#sidebar-left .block {
  margin-right: 1em;
}

#mission {
  font-size: 200%;
  line-height: 150%;
  background: transparent url(images/bg-50.png) repeat top left;
  padding: 1em 1.5em;
}

#content-header /* Wrapper for breadcrumb, title, messages, tabs, and help */ {
  overflow: hidden;
  border-bottom: none;
  background: transparent url(images/bg-50.png) repeat top left;
}
#content-header h1.title {
  margin: 0.5em 0.5em 0.5em 1.25em;
  padding: 0;
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  height: 1em;
  float: left;
  width: 67%;
  padding-bottom: 0; /* Undo system.css */
  font-size: 85%;
  color: #aaa;
}

h1.title, /* The title of the page */
h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */ {
  margin: 0;
}

.help /* Help text on a page */ {
  font-size: 90%;
  margin: 0;
  padding: 2em 3em;
}

.more-help-link /* Link to more help */ {
  font-size: 90%;
  font-weight: bold;
  float: right;
  background: transparent url(images/bg-25.png);
}

#content-area /* Wrapper for the actual page content */ {
  margin-bottom: 0em;
  padding: 1em 0 4em 2em;
  overflow: hidden;
  background: transparent url(images/bg-50.png) repeat top left;
}

ul.pager /* A list of page numbers when more than 1 page of content is available */ {
  clear: both;
  margin: 0 auto;
  text-align: center;
}

.section-admin #content-area ul.pager li {
  width: auto;
}

.pager a, .pager strong.pager-current {
  padding: 0.5em;
}

.feed-icons /* The links to the RSS or Atom feeds for the current list of content */ {
  margin: 1em 2em;
  float: right;
}

/** navbar **/
#navbar-inner {
  width: 62%;
  margin-left: 18.5%;
}

#search-box /* Wrapper for the search form */ {
  float: right;
  margin-right: -33%;
  width: 33%;
}

#edit-search-theme-form-1-wrapper {
  float: left;
  margin-right: 0.5em;
}

#edit-submit-1 {
  float: left;
}

#edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */ {
  display: none;
}

#primary /* Primary links */ {
  padding: 1em 0 0 19%;
}

#primary li {
  font-size: 125%;
  line-height: 125%;
  margin: 0 1em 0 0;
}

#primary li a {
  color: #000;
}

#primary li.active,
#secondary li.active {
  font-weight: bold;
  background: transparent url(images/bg-50.png) repeat top left;
}

#primary li.active-trail {
  background: transparent url(images/bg-50.png) repeat top left;
}

#secondary {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#secondary li {
  height: 2em;
  padding: 0.25em 1em;
}

#secondary li.active {
  height: 2em;
  padding: 0.25em 1em;
  background: transparent url(images/bg-50.png) repeat top left;
}

#secondary li a {
  color: #000;
}

#secondary li a.active {
  color: #000;
}

/** footer **/
#footer {
  margin-left: 16%;
  margin-bottom: 4em;
}

#footer-inner {
  padding: 1em 3em;
  font-size: 90%;
}

/** Drupal nodes **/
.node /* Node wrapper */ {
  padding: 0.5em 1em;
  margin: 0 2em 1em 0;
  overflow: hidden;
  background: transparent url(images/bg-block-admin-seperator.png) repeat-x bottom left;
}

/* @todo */
.sticky /* A sticky node (displayed before others in a list) */ {
}

.node-unpublished /* Unpublished nodes */ {
  /* background-color: transparent; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished div.unpublished, /* The word "Unpublished" displayed beneath the content. */
.comment-unpublished div.unpublished {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
/*  word-wrap: break-word;  A very nice CSS3 property */
}

.node h2.title /* Node title */ {
  font-size: 2em;
}

.node h2.title a, .comment h3.title a /* Node & Comment title */ {
  color: #23BBD2;
  text-decoration: none;
}
.node h2.title a:hover, .comment h3.title a:hover {
  text-decoration: underline;
  background: transparent url(images/bg-33.png);
}

.node.node-unpublished .picture,
.comment.comment-unpublished .picture {
  position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
}

.node .submitted /* The "posted by" information */ {
  text-transform: uppercase;
  font-size: 90%;
  margin: 0;
  padding: 0.5em 0;
}

.node .content /* Node's content wrapper */ {
  font-size: 125%;
}

.node div.links /* Wrapper for node links */ {
  margin: 0 0 1em 0;
  float: right;
}

ul.links /* Taxonomy links, node links, comment links */ {
  margin: 0;
  padding: 0;
}

ul.links.inline {
  display: inline;
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

/** Drupal comments **/
#comments /* Wrapper for all comments */ {
  margin: 1em 0 1em 5em;
}

.comment {
  margin: 1em 0;
}

.comment-inner {
  padding: 0.5em 0;
}

.marker, .new /* "New" marker for comments that are new for the current user */ {
  color: #000;
  background: #ffc;
  font-size: 70%;
  text-transform: uppercase;
}

.comment .submitted /* The "posted by" information */ {
  text-transform: uppercase;
  font-size: 90%;
  margin: 0.25em 0;
}

.comment div.links /* Wrapper for comment links. See also the ul.links declaration in the node section above. */ {
  margin: 1em 0;
}

.indented /* Nested comments are indented */ {
  margin-left: 2em;
}

/** Drupal blocks **/
.block /* Block wrapper */ {
  margin-bottom: 2em;
}

#header-blocks .block {
  margin-bottom: 0;
  background: transparent;
}

.block-inner /* Additional wrapper for block */ {
  margin: 0 1em;
}

.block h2.title, #comments-title /* Block title */ {
  text-transform: uppercase;
  font-size: 90%;
  letter-spacing: 0.2em;
  font-weight: bold;
  padding: 1em 0 0.5em 0;
}

div.item-list ul {
  list-style: none;
}

#block-user-3 h3 {
  font-size: 90%;
  text-transform: uppercase;
}

ul.menu li {
  margin: 0;
}

ul.menu li ul.menu {
  margin: 0 0 1em 0;
}

ul.menu li a {
 margin: 0;
 padding: 0;
}

ul.menu li a:link {
 display: block;
}

ul.menu li a:visited {
 display: block;
}

ul.menu li a:focus {
 display: block;
}

ul.menu li a:hover {
 display: block;
 color: #000;
}

#block-menu-primary-links {
  width: 100%;
  float: right;
  margin-bottom: 0;
}

#block-menu-primary-links li.leaf,
#block-menu-primary-links li.collapsed {
  float: left;
}

#block-menu-primary-links ul.menu li,
#block-menu-primary-links ul.menu li a {
  margin: 0;
  padding: 0;
}

#header-blocks #block-menu-menu-account {
  float: right;
  background: transparent url(images/bg-25.png);
}

#header-blocks #block-menu-menu-account .block-inner {
  margin: 0;
}

#header-blocks ul.menu li, #block-menu-menu-account h2.title {
  float: left; 
  font-size: 90%;
  padding: 0 0.5em;
  background: transparent url(images/bg-button.png) no-repeat bottom left;
}

#header-blocks ul.menu li {
  list-style: none;
}

#header-blocks ul.menu li a {
  padding: 0 0.25em;
}

#block-menu-menu-account h2.title {
  text-transform: none;
  display: none;
}

.more-link /* Aggregator, blog, and forum more link */ {
  text-align: right;
}

#user-login-form /* Drupal's default login form */ {
  text-align: left;
}

tr.even, tr.odd /* Some tables have rows marked even or odd. See also the ".section-admin tr.even" declaration below. */ {
  background: transparent;
  border-bottom: none;
  padding: 0;
}

/** Drupal forms **/
.admin form, .section-node form {
  padding-top: 1em;
}

.form-item, /* Wrapper for a form element (or group of form elements) and its label */
.form-checkboxes,
.form-radios,
.book-outline-form .form-item {
  margin: 0 0 1em 0;
}

.form-item input.error, /* Highlight the form elements that caused a form submission error */
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #c00;
}

.form-item label /* The label for a form element */ {
  display: block;
  font-weight: bold;
}

.form-item label.option /* The label for a radio button or checkbox */ {
  display: inline;
  font-weight: normal;
}

.form-required /* The part of the label that indicates a required field */ {
  color: #c00;
}

.description /* The descriptive help text (separate from the label) */ {
  font-size: 90%;
  color: #444;
  display: none;
}

.form-item .description /* The descriptive help text (separate from the label) */ {
  display: none;
}

.form-checkboxes .form-item, /* Pack groups of checkboxes and radio buttons closer together */
.form-radios .form-item {
  margin: 0.4em 0;
}

.submits .form-submit /* The submit button */ {
  margin-right: 1em;
  font-size: 110%;
  font-weight: bold;
}

.container-inline div, .container-inline label /* Inline labels and form divs */ {
  display: inline;
}

.tips /* Tips for Drupal's input formats */ {
  margin: 0;
  padding: 0;
  font-size: 90%;
}

/** Admin tables **/
body.section-admin table {
  width: 95%
}

table.sticky-header {
  background: #ddd url(images/bg-black-13.png) repeat-x top left;
  margin-top: 0;
}

table.sticky-header th{
  background: #eee url(images/bg-black-13.png) repeat-x top left;
  margin-top: 0;
}

.section-admin th {
  text-align: left;
  padding-right: 1em;
  background: #eee url(images/bg-black-13.png) repeat-x top left;
}

.section-admin thead th {
  text-align: left;
  padding: 0.25em 1em;
  background: #eee url(images/bg-black-13.png) repeat-x top left;
}

.section-admin thead th.active {
  text-align: left;
  padding: 0.25em 1em;
  background: transparent url(images/bg-75.png) repeat-x top left;
}

.section-admin tr.even,
.section-admin tr.odd {
  background: transparent url(images/bg-block-admin-seperator.png) repeat-x bottom left;
}

.section-admin tr.even td {
  background: transparent url(images/bg-06.png) repeat-x bottom left;
}

tr.selected td {
  background: #ffc url(images/bg-block-admin-seperator.png) repeat-x bottom left;
}

tr.draggable {
  background: transparent url(images/bg-draggable-row.png) repeat-x bottom left;
}

tr.drag-previous {
  background-color: #ffc;
}

div.teaser-button-wrapper {
 display: none;
}

form#node-form #edit-body {
 height: 15em;
}

div.description ul.tips {
 display: none;
}

form#node-form fieldset {
 float: left;
 padding: 0;
 margin: 0 0 1em 0;
}

form#node-form fieldset .fieldset-wrapper {
  float: left;
  padding: 0.5em 0.5em 0.5em 1.5em;
  width: 95%;
}

div.compact-link {
 float: right;
 display: none;
}

th, td {
 padding: 0.5em 0;
}

th.active, td.active {
  background: transparent url(images/bg-50.png);
}

th.active {
  border-top: #23BBD2 1px solid;
}
th.active a {
  color: #000;
}

img.screenshot {
 border: #dcdcdc 1px solid;
 margin-right: 1em;
}

div.section-admin #content-area ul.menu li.leaf {
 float: left;
 width: 50%;
 max-width: 200px;
}

/** Fieldsets **/
div.standard fieldset.menu-item-form {
 display: block;
}

div.standard fieldset {
 float: left;
 overflow: hidden;
}

html.js fieldset.collapsed legend {
  display: block;
}

fieldset.collapsible legend a {
  display: block;
  padding-top: 0.5em;
}

fieldset.collapsed legend a {
  background-color: transparent;
  background-position: 5px 80%;
}

html.js fieldset.collapsible legend a {
  background-color: transparent;
  background-position: 5px 80%;
}

.fieldset-wrapper {
  padding: 0.5em 0.5em 0.5em 1em;
  background: transparent url(images/bg-25.png) repeat top left;
}

/** Node form **/
/* look at the overrides in template.php */

div.node-form {
  overflow: hidden;
  background: transparent;
}

input#edit-title {
  font-size: 135%;
}
textarea#edit-body {
  font-size: 115%;
}

#edit-menu-parent {
  width: 12em;
}

div.node-form div.admin {
 background: transparent url(images/bg-node-edit.png) no-repeat bottom left;
 float: left;
 overflow: auto;
 width: 31%;
 padding: 1em 0;
}

div.node-form div.admin-inner {
  overflow: auto;
}

div.node-form div.admin-inner select,
div.node-form div.admin-inner input
{
  width: 90%;
}

div.node-form div.admin a:focus {
  color: #000;
  background: transparent url(images/bg-66.png) repeat top left;
}

div.node-form div.standard {
 padding: 1em 0 0 0;
 width: 68%;
 float: left;
 overflow: hidden;
}

div.submits {
 clear: both;
 width: 100%;
 overflow: auto;
 margin: 1em 0;
 padding: 1em 0;
}

#edit-taxonomy-tags-1-wrapper .description {
  display: none;
}

legend {
  font-weight: bold;
  letter-spacing: 0.025em;
}

/** Books **/
#content .node-type-book div.links, .book-navigation {
  font-size: 80%;
}

/** Definition list for /admin, node type list and admim by module **/
dl.node-type-list {
  width: 100%;
}

dl.node-type-list dt, dl.node-type-list dd {
  float: left;
  margin: 0 0 1em 0;
  padding: 0;
}

dl.node-type-list dt {
  font-size: 150%;
  text-align: left;
  width: 25%;
  max-width: 15em;
  padding: 0 0 0 1em;
}

dl.node-type-list dd {
  width: 70%;
  min-height: 3em;
  float: left;
}

.section-admin #content-area ul li {
  width: 33%;
  max-width: 12em;
  float: left;
  list-style: none;
}

.section-admin #content-area #node-admin-filter ul li,
.section-admin #content-area #user-admin-filter ul li {
  width: 100%;
  max-width: 100%;
  float: left;
}

#system-site-information-settings .form-item {
  width: 45%;
  padding-right: 5%;
  float: left;
}

.form-text {
  width: 95%;
  max-width: 20em;
}

/** "Navigation" block for Drupal navigation menu */
#block-user-1 .block-inner h2.title {
  margin-left: 2em;
  display: none;
}

#sidebar-left #block-user-1 {
  margin-right: 0;
}

#sidebar-left #block-user-1 .block-inner{
  margin: 0;
}

/* level 1 */
#block-user-1 .block-inner ul {
  margin: 0;
  padding: 0 0 0.5em 0;
  background: transparent url(images/bg-block-admin.png) repeat-y bottom right;
}

#block-user-1 ul.menu li {
  background: transparent url(images/bg-block-admin-section.png) no-repeat top left;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0 0 0.5em 0;
}

#block-user-1 ul.menu li.active-trail {
  list-style: none;
  list-style-image: none;
  margin: 0 0 1em 0;
  padding: 0;
  font-weight: bold;
}

/* level 2 */
#block-user-1 ul.menu li ul.menu li {
  margin: 0;
  padding: 0 0 0 1em;
  background: transparent;
}

#block-user-1 ul.menu li ul.menu li ul.menu li {
  background: transparent;
  padding: 0 0 0 1em;
}
#block-user-1 ul.menu li ul.menu li ul.menu li.expanded {
  padding: 0 0 0 1em;
  font-weight: bold;
}

/* anchors */
#block-user-1 ul.menu li a {
  color: #333;
  padding: 1.5em 0.5em 0.5em 1.75em;
  font-weight: bold;
  font-size: 115%;
}

#block-user-1 ul.menu li a:hover {
  color: #222;
}

#block-user-1 ul.menu li a.active {
  color: #000;
}

#block-user-1 li a:hover {
  background: transparent url(images/bg-33.png) repeat top left;
  font-weight: bold;
}

#block-user-1 ul.menu li ul.menu li a {
  margin-top: 0em;
  padding: 0.25em 0.5em 0.25em 1em;
  text-transform: none;
  font-size: 100%;
}

#block-user-1 ul.menu li ul.menu li.active-trail a {
  padding: 0.25em 0.5em 0.25em 1em;
  font-weight: bold;
}

#block-user-1 li a.active /* The active item in a Drupal menu */ {
  font-weight: bold;
  background: transparent url(images/bg-33.png) repeat top left;
  display: block;
  border-right: #23BBD2 3px solid;
}

#block-user-1 ul.menu li ul.menu li a {
  font-weight: normal;
  display: block;
}
#block-user-1 ul.menu li ul.menu li a:hover {
  font-weight: bold;
  display: block;
}

#block-user-1 ul.menu li ul.menu li a.active /* The active item in a Drupal menu */ {
  background: transparent url(images/bg-33.png) repeat top left;
  display: block;
}

#block-user-1 ul.menu li ul.menu li ul.menu li a /* The active item in a Drupal menu */ {
  font-weight: normal;
  display: block;
}

#block-user-1 ul.menu li ul.menu li ul.menu li a:hover,
#block-user-1 ul.menu li ul.menu li ul.menu li a.active /* The active item in a Drupal menu */ {
  font-weight: bold;
  background: transparent url(images/bg-33.png) repeat top left;
}

/** show/hide hovers **/

li.active-trail ul li ul li,
li ul li.expanded ul li,
li ul li.expanded ul li.expanded,
li ul li.expanded ul li.expanded ul li,
li#Administer ul li.active-trail ul li,
li#Createcontent ul.menu li {
  display: none;
}

li#Createcontent:hover ul.menu li,
li#Createcontent ul.menu li.active-trail,
li#Administer ul li:hover ul li,
li#Administer ul li.active-trail ul li.active-trail,
li#Administer ul li.active-trail ul li.active-trail ul.li.active-trail
{
  background: transparent url(images/bg-13.png) repeat top left;
  display: block;
}

.menu li,
.menu li li:hover,
.menu li.expanded {
  font-weight: bold;
}
.menu li li {
  font-weight: normal;
}

li.expanded li {
  text-transform: none;
  font-weight: normal;
}

li.active-trail {
  display: block;
}

.item-list .pager li {
  background-image:none;
  display:inline;
  list-style-type:none;
  padding:0.5em;
  max-width: 3em;
}

#block-user-1 ul.menu li#Createcontent li a.active,
#block-user-1 ul.menu li#Administer li a.active {
  background: transparent url(images/bg-25.png) repeat;
}

/** Block.css overrides **/
#blocks td.region {
  font-weight:bold;
  text-transform: uppercase;
  text-align: center;
  padding: 1em 0 0 0;
}

#blocks tr.region-message {
  color:#999999;
  font-weight:normal;
  text-align: center;
}

/** Poll **/
.poll .vote-form {
  text-align: left;
}

.poll .vote-form .choices {
  display:table;
  margin: 0;
}

/** Profile **/
.profile h3 {
  border-bottom: 0;
}

/** System status */
 .section-admin .system-status-report th {
  text-align: left;
  padding-right: 1em;
  background-color: transparent;
  background-image: none;
}

 .section-admin .system-status-report tr.warning th {
  text-align: left;
  padding-right: 1em;
  background: transparent url(images/messages-warning.png) no-repeat top left;
}

table.system-status-report tr.merge-up td {
  font-style:italic;
  padding-left: 4em;
}