
ul.menu {
  list-style: none;
  border: none;
  text-align:left; /* LTR */
}

ul.menu li {
  margin: 0 0 0 0.5em; /* LTR */
}

li.expanded {
  list-style-type: none;
  list-style-image: url();
  padding: 0.125em 0.125em 0 0; /* LTR */
  margin: 0;
}

li.collapsed {
  list-style-type: none;
  list-style-image: url(); /* LTR */
  padding: 0.125em 0.125em 0 0; /* LTR */
  margin: 0;
}

li.leaf {
  list-style-type: none;
  list-style-image: url(images/menu-leaf.png);
  padding: 0.125em 0.125em 0 0; /* LTR */
  margin: 0;
}

li a.active {
  color: #000;
}

td.menu-disabled {
  background: #ccc;
}

ul.links {
  margin: 0;
  padding: 0;
}

ul.links.inline {
  display: inline;
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.25em;
}

.block ul {
  margin: 0;
  padding: 0; /* LTR */
}