
/*
 * Tabs CSS
 *
 * Adds styles for the primary and secondary tabs.
 *
 */

div.tabs {
  width: 100%;
  margin: 0 0 0 2em;
  background: transparent url(images/bg-tabs.png) repeat-x bottom right;
}

div.tabs a:hover {
  color: #000;
}

ul.primary {
  display: block;
  margin: 0;
  padding: 0;
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: 0;
}

ul.primary li {
  float: left;
  margin: 0;
  padding: 0.5em;
  background: transparent url(images/bg-button.png) no-repeat bottom left;
}

ul.primary li.active {
  background: transparent url(images/bg-tab-item.png) repeat-x top left;
}

ul.primary li:hover {
  background: transparent url(images/bg-tab-item.png) repeat-x top left;
}

ul.primary li:hover a,
ul.primary li a:hover {
  text-decoration: none;
  color: #fff;
}

ul.primary li a {
  border: none;
  display: block;
  margin: 0.525em;
  padding: 0px;
  font-size: 90%;
  text-decoration: none;
  color: #333;
  background: transparent;
}

ul.primary li a .tab {
  margin: 0;
}

ul.primary li a:hover {
  background: transparent;
}

ul.primary li.active a,
ul.primary li.active a:hover {
  border-width: 0;
}

ul.primary li.active a .tab,
ul.primary li.active a.active,
ul.primary li.active a:hover .tab {
  color: #eee;
  background: transparent;
  padding: 0;
}

ul.secondary {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
}

ul.secondary li {
  padding: 0.25em 1em;
  float: left;
  font-size: 90%;
  background: transparent url(images/bg-button.png) repeat-x top left;
}

ul.secondary li.active {
  background: transparent url(images/bg-tab-item.png) repeat-x top left;
}

ul.secondary a {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}

ul.secondary a .tab {
  display: block;
  margin: 0;
}

ul.secondary li:hover {
  background: transparent url(images/bg-tab-item.png) repeat-x top left;
}

ul.secondary li:hover a,
ul.secondary a.active,
ul.secondary a.active:hover {
  border-bottom: 0px;
  color: #fff;
}