
/**
* @file
* Styles for the update status page
*
* Look at template.php for the strix_update_report function
*/

 .page-admin-reports-updates h3 {
   margin-bottom: 0.5em;
 }

.update .project {
  float:left;
  font-weight: normal;
  font-size: 110%;
  margin: 0 1em 0 0;
  padding-left: .25em; /* LTR */
  width: 14em;
}

.update .project a {
  font-weight: bold;
  font-size: 110%;
  line-height: 100%;
  display: block;
}

.update .version-status {
  float: none; /* LTR */
  padding-right: 10px; /* LTR */
  font-size: 90%;
  height: 20px;
}

.update tr.ok .version-status {
  display: none;
}

.update .version-status .icon {
  padding: 0 0.5em 0 0;
}

.update .version-date {
  font-size: 70%;
  white-space: nowrap;
}

.update .info {
  margin: 0;
  padding: 0.25em;
}

.update tr td {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.update tr.error {
  background: #fcc;
}

.update tr.error .version-recommended {
  background: #fdd;
}

.update tr.ok {
  background: #dfd;
}

.update tr.warning {
  background: #ffd;
}

.update tr.warning .version-recommended {
  background: #ffe;
}

.current-version, .new-version {
  direction: ltr; /* Note: version numbers should always be LTR. */
}

.update tr.unknown {
  background: #ddd;
}

table.update,
.update table.version {
  width: 100%;
  margin: 0;
}

.update table.version tbody {
  border: none;
}

.update table.version tr,
.update table.version td {
  line-height: .9em;
  padding: 1em;
  margin: 0;
  border: none;
}

.update table.version .version-title {
  padding-left: 1em; /* LTR */
  width: 14em;
}

.update table.version .version-details {
  padding-right: .5em; /* LTR */
  font-weight: bold;
}

.update table.version .version-details a {
  padding: 0.125em 0.25em;
  color: #23BBD2;
  font-size: 100%;
  font-weight: bold;
}

.update table.version-recommended .version-details a {
  background: #23BBD2 url(images/bg-block-admin-section.png) no-repeat bottom right;
  color: #fff;
}

.update table.version .version-details span.version-date {
  font-size: 70%;
  font-weight: normal;
}

.update table.version .version-links {
  text-align: right; /* LTR */
  padding-right: 1em; /* LTR */
}

.update .version-existing {
  font-size: 70%;
  color: #aaa;
}

.update table.version-security .version-title {
  color: #970F00;
}

.update table.version-recommended-strong .version-title {
  font-weight: bold;
}

.update tr.warning .version-recommended {
  background: transparent url(images/bg-66.png);
}

.update .security-error {
  font-weight: bold;
  color: #970F00;
}

.update .check-manually {
  padding-left: 1em; /* LTR */
}

.update .includes {
  clear: left;
  font-size: 90%;
  color: #aaa;
}

.section-admin #content-area table.update ul li { /* override .section-admin #content-area ul li */
  width: 100%;
  max-width: 12em;
  float: right;
}